<!DOCTYPE html>
<html lang="pl">
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>NZOZ Finezja - Wielospecjalistyczne Centrum Chirurgii Ambulatoryjnej</title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Niepubliczny Zakład Opieki Zdrowotnej Finezja - Wielospecjalistyczne Centrum Chirurgii Ambulatoryjnej">
  <meta name="keywords" content="finezja, nzoz, chirurgia, żylaki, laryngologia, endokrynologia, usg, ultrasonograf, suchy las, zylaki, bezbolesne zabiegi bez narkozy, owrzodzenia podudzi, trudno gojące się rany, bliznowce, kurzajki, brodawki, kaszaki, odciski, żylaki, hemoroidy nieoperacyjnie, zapalenie żył, zakrzepica - leczenie, pajączki, skleroterapia, detoks, Specjalistyczna diagnostyka i leczenie przewlekłej niewydolności żylnej:bóle, obrzęki, kurcze nóg,pajączki naczyniowe,żylaki,owrzodzenia podudzi, leczenie,pajączki,operacje,operacja,chirurg,chirurgia, skleroterapia,ostrzykiwanie,usg,USG,doppler,flebologia,flebolog,żyły,zyly,gabinet,zapalenie,laser,laserowe,hemoroidy,owrzodzenia">
  <!-- <base href="http://www.nzozfinezja.pl/"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-touch-icon.png">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/images/site.webmanifest">
  <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- 
  Essential stylesheets
  =====================================-->
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="plugins/icofont/icofont.min.css">
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="css/style.css">

</head>

<body id="top">
