<section class="section appoinment">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 ">
				<div class="appoinment-content">
					<img src="images/about/img-3.jpg" alt="" class="img-fluid">
					<div class="emergency">
						<h2 class="text-lg"><i class="icofont-phone-circle text-lg"></i>+48&nbsp;502&nbsp;660&nbsp;680</h2>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-10 ">
				<div class="appoinment-wrap mt-5 mt-lg-0">
					<h2 class="mb-2 title-color" id="umow-wizyte">Umów wizytę</h2>
					<p class="mb-4"></p>
					<form class="appoinment-form" method="POST" action="https://formspree.io/f/xzbozwnl?language=pl">
                    <div class="row">
                         <div class="col-lg-6">
                            <div class="form-group">
                                <select class="form-control" name="poradnia" required>
                                  <option value="" disabled selected hidden>Poradnia</option>
                                  <!-- <option>Poradnia Otolaryngologiczna</option> -->
                                  <option>Poradnia Chirurgii Ogólnej</option>
                                  <option>Poradnia Chorób Naczyń</option>
                                  <option>Poradnia Onkologiczna</option>
                                  <option>Poradnia Logopedyczna</option>
                                </select>
                            </div>
                        </div>

                         <div class="col-lg-6">
                            <div class="form-group">
                                <input name="language" type="hidden" value="pl">
                                <input name="data" id="date" type="date" class="form-control" required placeholder="dd/mm/rrrr">
                            </div>
                        </div>

                         <div class="col-lg-6">
                            <div class="form-group">
                                <input name="imie" id="name" type="text" class="form-control" placeholder="Imię i Nazwisko">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <input name="telefon" id="phone" type="tel" class="form-control" placeholder="Numer telefonu" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-2 mb-4">
                        <textarea name="wiadomosc" id="message" class="form-control" rows="6" placeholder="Wiadomość"></textarea>
                    </div>

                    <input type="submit" class="btn btn-main btn-round-full" value="Wyślij" />
                </form>
            </div>
			</div>
		</div>
	</div>
</section>
