<!-- footer Start -->
<footer class="footer section gray-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mr-auto col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<div class="logo mb-4">
						<img src="images/logo-upscaled.png" width="317" alt="" class="img-fluid">
					</div>
				</div>
			</div>

			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Poradnie NFZ</h4>
					<div class="divider mb-4"></div>

					<ul class="list-unstyled footer-menu lh-35">
						<!-- <li><a href="poradnia-otolaryngologiczna.html">Otorynolaryngologia </a></li> -->
						<li><a href="poradnia-chirurgii.html">Chirurgia Ogólna</a></li>
						<li><a href="poradnia-onkologiczna.html">Onkologia</a></li>
						<li><a href="poradnia-logopedyczna.html">Logopedia</a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Dla pacjentów</h4>
					<div class="divider mb-4"></div>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="ubezpieczenie.html">Ubezpieczenie</a></li>
						<li><a href="dokumentacja.html">Dokumentacja medyczna</a></li>
						<li><a href="usg.html#przygotowanie">Przygotowanie do badania USG</a></li>
						<li><a href="pomoc.html">Pomoc medyczna w nocy i święta</a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget widget-contact mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Kontakt</h4>
					<div class="divider mb-4"></div>

					<div class="footer-contact-block mb-3">
						<div class="icon d-flex align-items-center">
							<i class="icofont-wall-clock mr-3"></i>
							<span class="h6 mb-0">
								Pon - Czw: 10:00 - 18:00<br />
								Piątek: 10:00 - 14:00
							</span>
						</div>
					</div>

					<div class="footer-contact-block mb-3">
						<div class="icon d-flex align-items-center">
							<i class="icofont-email mr-3"></i>
							<span class="h6 mb-0"><a href="mailto:gabinet@nzozfinezja.pl">gabinet@nzozfinezja.pl</a></span>
						</div>
					</div>


					<div class="footer-contact-block mb-3">
						<div class="icon d-flex align-items-center">
							<i class="icofont-phone mr-3"></i>
							<span class="h6 mb-0"><a href="tel:+48 502 660 680">+48 502 660 680</a></span>
						</div>
					</div>

					<div class="footer-contact-block">
						<div class="icon d-flex align-items-center">
							<i class="icofont-location-pin mr-2 mr-3"></i>
							<span class="h6 mb-0">
								<a href="https://maps.app.goo.gl/UwioaMwZ6aXz4akJ8" target="_blank">ul. Leśna 18<br />62-002 Suchy Las</a>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-btm py-4 mt-5">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-6">
					<div class="copyright">
						Copyright &copy; <script>document.write(new Date().getFullYear())</script>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4">
					<a class="backtop scroll-top-to" href="#top">
						<i class="icofont-long-arrow-up"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>
