<div class="col-lg-4">
	<div class="sidebar-widget schedule-widget mt-5">
		<h5 class="mb-4">Rejestracja Telefoniczna</h5>

		<ul class="list-unstyled">
		  <li class="d-flex justify-content-between align-items-center">
		    <span>Poniedziałek - Czwartek</span>
		    <span>10:00 - 18:00</span>
		  </li>
		  <li class="d-flex justify-content-between align-items-center">
		    <span>Piątek</span>
		    <span>10:00 - 14:00</span>
		  </li>
		  <li class="d-flex justify-content-between align-items-center">
		    <span>Sobota - Niedziela</span>
		    <span>Nieczynne</span>
		  </li>
		</ul>

		<div class="sidebar-contatct-info mt-4">
			<p class="mb-0">Telefon</p>
			<h3>+48 502 660 680</h3>
		</div>
	</div>
</div>
