<div class="col-lg-4">
	<div class="sidebar-widget schedule-widget mt-5">
		<h5 class="mb-4">Godziny Przyjęć</h5>

		<ul class="list-unstyled">
		  <li class="d-flex justify-content-between align-items-center">
		    <span>Poniedziałek - Piątek</span>
		    <span>10:00 - 18:00</span>
		  </li>
		  <li class="d-flex justify-content-between align-items-center">
		    <span>Sobota</span>
		    <span>Nieczynne</span>
		  </li>
		  <li class="d-flex justify-content-between align-items-center">
		    <span>Niedziela</span>
		    <span>Nieczynne</span>
		  </li>
		</ul>

		<div class="sidebar-contatct-info mt-4">
			<p class="mb-0">Rejestracja</p>
			<h3>502 660 680</h3>
		</div>
	</div>
</div>
