<section class="section department-single">
	<div class="container">
<!-- 		<div class="row">
			<div class="col-lg-12">
				<div class="department-img">
					<img src="images/service/bg-1.jpg" alt="" class="img-fluid">
				</div>
			</div>
		</div> -->

		<div class="row">
			<div class="col-lg-8">
				<div class="department-content mt-5">
					<h3 class="mt-5 mb-4">Diagnostyka i leczenie chorób uszu, gardła, nosa i krtani, m.in.</h3>
					<div class="divider my-4"></div>
					<ul class="list-unstyled department-service">
						<li><i class="icofont-check mr-2"></i>przeziębienie</li>
						<li><i class="icofont-check mr-2"></i>zakażenie nosa i zatok przynosowych</li>
						<li><i class="icofont-check mr-2"></i>zakażenie gardła, krtani i tchawicy</li>
						<li><i class="icofont-check mr-2"></i>zakażenie jamy ustnej</li>
						<li><i class="icofont-check mr-2"></i>zakażenie ślinianek, kamica ślinianek</li>
						<li><i class="icofont-check mr-2"></i>zakażenie ucha: zewnętrznego, środkowego</li>
						<li><i class="icofont-check mr-2"></i>zawroty głowy, szumy uszne, niedosłuchy</li>
						<li><i class="icofont-check mr-2"></i>urazy nosa, ucha, gardła</li>
						<li><i class="icofont-check mr-2"></i>skrócone wędzidełko podjęzykowe</li>
					</ul>


					<h3 class="mt-5 mb-4">Zabiegi wykonywane w poradni to m.in.:</h3>
					<div class="divider my-4"></div>
					<ul class="list-unstyled department-service">
						<li><i class="icofont-check mr-2"></i>płukanie uszu z woskowiny</li>
						<li><i class="icofont-check mr-2"></i>podcięcie skróconego wędzidełka podjęzykowego</li>
						<li><i class="icofont-check mr-2"></i>toaleta ucha ropnego</li>
						<li><i class="icofont-check mr-2"></i>punkcje zatok szczękowych</li>
						<li><i class="icofont-check mr-2"></i>usuwanie ciał obcych - ucho, nos, gardło</li>
						<li><i class="icofont-check mr-2"></i>przerost migdałków podniebiennych, gardłowego - kwalifikowanie do zabiegu</li>
						<li><i class="icofont-check mr-2"></i>nacięcie ropnia okołomigdałkowego</li>
						<li><i class="icofont-check mr-2"></i>audiometria</li>
						<li><i class="icofont-check mr-2"></i>kwalifikacje do zabiegów</li>
					</ul>

					<a href="/#umow-wizyte" class="btn btn-main-2 btn-round-full">Umów wizytę<i class="icofont-simple-right ml-2  "></i></a>

					@@include('blocks/refundowane-przez-nfz.htm')
				</div>
			</div>

			@@include('blocks/poradnia-godziny.htm')
		</div>
	</div>
</section>
