<section class="section service gray-bg">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<h2>Oferowane usługi</h2>
					<div class="divider mx-auto my-4"></div>
					<!-- <p>Lets know moreel necessitatibus dolor asperiores illum possimus sint voluptates incidunt molestias nostrum laudantium. Maiores porro cumque quaerat.</p> -->
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-laboratory text-lg"></i>
						<h4 class="mt-3 mb-3">Zabiegi ambulatoryjne</h4>
					</div>

					<div class="content">
						<p class="mb-4">Wykonujemy ambulatoryjne zabiegi operacyjne w zakresie chirurgii ogólnej, onkologicznej, badania USG i Doppler. Proponujemy konsultacje ze specjalistami w zakresie chirurgii, logopedii, oraz onkologii.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-heart-beat-alt text-lg"></i>
						<h4 class="mt-3 mb-3">Badania</h4>
					</div>
					<div class="content">
						<p class="mb-4">Wykonujemy kompleksowe badania żył przy zastosowaniu ultrasonografu z kolorowym Dopplerem, dzięki czemu pacjent już w trakcie konsultacji może dowiedzieć się o możliwościach i sposobie leczenia.</p>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-tooth text-lg"></i>
						<h4 class="mt-3 mb-3">Kompresjoterapia</h4>
					</div>
					<div class="content">
						<p class="mb-4">Prowadzimy również sprzedaż rajstop, pończoch oraz podkolanówek profilaktycznych, przeciwobrzękowych i przeciwżylakowych. Zapewniamy bezpłatny, profesjonalny dobór w/w wyrobów na podstawie specjalistycznych pomiarów.</p>
					</div>
				</div>
			</div>


			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-crutch text-lg"></i>
						<h4 class="mt-3 mb-3">Sale zabiegowe</h4>
					</div>

					<div class="content">
						<p class="mb-4">Wszystkie zabiegi wykonujemy w znieczuleniu miejscowym w nowoczesnej sali operacyjnej.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-brain-alt text-lg"></i>
						<h4 class="mt-3 mb-3">Specjaliści</h4>
					</div>
					<div class="content">
						<p class="mb-4">Bezpieczeństwo oraz znakomite rezultaty leczenia zapewnią Państwu lekarze specjaliści z wieloletnim doświadczeniem.</p>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-dna-alt-1 text-lg"></i>
						<h4 class="mt-3 mb-3">Poradnie</h4>
					</div>
					<div class="content">
						<p class="mb-4">W naszym ośrodku mają Państwo również możliwość skorzystania z poradni chirurgicznej, logopedycznej oraz onkologicznej w ramach umowy z NFZ.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
